.contact {
  width: 100%;
  display: flex;
  justify-content: center;

  &__backgroundImage {
    display: none;

    @include desktop {
      display: block;
      flex-basis: 50%;
      border: 1px solid black;
    }
  }

  .form {
    display: flex;
    flex-wrap: wrap;
    margin: 7rem 0;
    padding: 0 8%;
    width: 100%;
    max-width: 500px;

    @include desktop {
      padding: 0 2%;
      margin: 7rem 5% 7rem 0;
    }

    &__header {
      display: block;
      flex-basis: 100%;
      margin-bottom: 2rem;
      font-size: 2.4rem;
      font-weight: 700;
      text-align: center;

      @include desktop {
        font-size: 3.6rem;
        margin-bottom: 5rem;
      }
    }

    p {
      display: block;
      width: 100%;
      font-size: 1.4rem;
    }

    input,
    textarea {
      text-align: left;
      display: block;
      width: 100%;
      padding-bottom: 1.2rem;
      font-size: 1.4rem;
      margin: 1.5rem 0;
      box-shadow: none;
      appearance: none;
      outline: none;
      background-color: transparent;
      border-style: none;
      border-bottom: 1px solid $color-dark-blue;
      resize: none;
    }

    &__nameContainer,
    &__emailContainer,
    &__messageContainer {
      width: 100%;
      margin: 2rem 0;
    }

    &__container {
      width: 100%;

      @include desktop {
        display: flex;
        justify-content: space-between;
      }
    }

    @include desktop {
      &__nameContainer,
      &__emailContainer {
        width: 45%;
      }
      input {
        width: 100%;
      }

      &__nameContainer {
        float: left;
      }
    }

    textarea {
      padding-bottom: 0;
      height: 5rem;
    }

    input {
      height: 25px;
    }

    label {
      font-size: 2rem;
      color: $color-dark-blue;
      font-weight: 600;
      margin: 3rem 0 2rem;
    }

    &__submitBtn {
      margin: 6rem auto 0;
      font-size: 1.6rem;
      color: $color-white;
      background-color: $color-blue;
      padding: 1rem 5rem;
      font-weight: 500;
      border-radius: 2.5rem;
    }

    &__submitBtn:focus {
      outline: none;
    }
  }
}
