.contact {
  width: 100%;
  display: flex;
  justify-content: center;

  &__backgroundImage {
    display: none;

    @include desktop {
      display: block;
      flex-basis: 50%;
      border: 1px solid black;
    }
  }

  .form {
    display: flex;
    flex-wrap: wrap;
    margin: 7rem 0 4rem;
    padding: 0 8%;
    width: 100%;
    max-width: 420px;

    @include tablet {
      max-width: 500px;
    }
    @include desktop {
      padding: 0 2%;
      margin: 7rem 5% 7rem 0;
    }

    &__header {
      display: block;
      flex-basis: 100%;
      margin-bottom: 2rem;
      font-size: 2.4rem;
      font-weight: 700;
      text-align: center;

      @include desktop {
        font-size: 3.6rem;
        margin-bottom: 5rem;
      }
    }

    .center {
      width: 100%;
      text-align: center;

      .form__info {
        display: block;
        color: $color-blue;
        font-size: 1.8rem;
        text-align: center;
      }
    }

    .errorMessage {
      display: block;
      width: 100%;
      margin: 5px 0;
      font-size: 1.4rem;
      z-index: 10;
    }

    &__container {
      width: 100%;

      @include desktop {
        display: flex;
        justify-content: space-between;
      }
    }

    &__nameContainer,
    &__emailContainer,
    &__messageContainer {
      width: 100%;
      position: relative;
      height: 5rem;
      margin-bottom: 2rem;

      input,
      textarea {
        width: 100%;
        height: 100%;
        color: #595f6e;
        padding-top: 20px;
        border: none;
        outline: none;
        font-size: 16px;
        cursor: pointer;
        resize: none;
      }

      textarea {
        padding-top: 0px;
      }

      .input-label {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        border-bottom: 1px solid $color-dark-blue;
      }

      .input-label::after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: -1px;
        height: 100%;
        width: 0;
        border-bottom: 3px solid $color-blue;
        transition: all 0.3s ease;
      }

      .content {
        position: absolute;
        bottom: 5px;
        left: 0;
        transition: all 0.3s ease;
        font-size: 1.6rem;
      }

      input:focus + .input-label .content,
      textarea:focus + .input-label .content,
      input:valid + .input-label .content,
      textarea:valid + .input-label .content {
        transform: translateY(-150%);
        font-size: 14px;
        color: $color-blue;
      }

      textarea:focus + .input-label .content,
      textarea:valid + .input-label .content {
        transform: translateY(-430%);
      }

      input:focus + .input-label::after,
      textarea:focus + .input-label::after {
        left: 0;
        width: 100%;
      }
    }
    &__nameContainer {
      margin-bottom: 3rem;
    }
    &__messageContainer {
      height: 7rem;
      margin-top: 2.2rem;
    }

    @include desktop {
      &__nameContainer,
      &__emailContainer {
        width: 45%;
      }
    }

    &__submitBtn {
      margin: 3.5rem auto 0;
      font-size: 1.6rem;
      color: $color-white;
      background-color: $color-blue;
      padding: 1rem 5rem;
      font-weight: 500;
      border-radius: 2.5rem;
    }

    &__submitBtn:focus {
      outline: none;
    }
  }
}
