.wrapper_footer {
  border-top: 1px solid rgba(204, 204, 204, 0.6);
  .footer {
    padding: 4rem 0 5rem;
    margin: 1.2rem 5% 0;
    max-width: 1800px;
    text-align: center;

    @include tablet {
      margin: 1.2rem auto 0;
      padding: 2rem 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__copy {
      @include tablet {
        display: flex;
        margin-left: 13%;
      }
    }

    &__text {
      font-size: 1.2rem;
      color: rgb(181, 181, 181);
      padding-bottom: 2rem;
      font-weight: 600;

      @include tablet {
        padding-bottom: 0;
        margin-right: 8rem;
      }
    }

    &__media {
      margin-top: 3rem;

      @include tablet {
        margin: 0 5% 0 0;
      }
    }

    &__logo {
      margin: 0 1.5rem;
      cursor: pointer;
    }
  }
}
