.header {
  width: 100%;
  color: $color-text;
  font-size: 1.6rem;
  background-color: $color-bg-header;
  display: flex;
  flex-wrap: wrap;

  div {
    flex-basis: 100%;
    text-align: center;
    h1 {
      font-size: 4vw;
      // line-height: 2.4rem;
      margin: 22px 0;
    }
  }

  &__background {
    margin-top: -50px;
    width: 50%;
    display: block;
  }
}
