.menu {
  position: relative;
  width: 100%;
  display: flex;
  padding: 20px;
  @include tablet {
    padding: 15px 10px;
    align-items: center;
  }
  @include desktop {
    padding: 15px 7%;
  }

  &__logo {
    z-index: 2;
  }
  &__image {
    display: block;
    width: 70%;
    cursor: pointer;

    @include desktop {
      width: 100%;
    }
  }

  .navigation {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    top: -1200px;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1;
    background-color: $color-blue;
    transition: all 0.25s ease-in-out;

    @include tablet {
      position: relative;
      flex-direction: row;
      top: 0;
      background-color: $color-white;
      height: auto;
    }

    &__list {
      list-style: none;
      text-align: center;
      margin-bottom: 40px;

      @include tablet {
        display: flex;
        margin-bottom: 0;
        flex-grow: 1;
        justify-content: center;
      }
    }

    &__item {
      font-size: 3rem;
      font-weight: 600;
      color: $color-white;
      padding: 10px 0;
      cursor: pointer;

      @include tablet {
        color: $color-text;
        font-size: 1.4rem;
        font-weight: 500;
        padding: 0 8px;
      }
      @include desktop {
        font-size: 1.6rem;
        padding: 0 10px;
      }
    }

    &__loginBtn,
    &__signUpBtn {
      border: 2px solid $color-white;
      border-radius: 25px;
      background-color: $color-blue;
      // padding: 10px 15px;
      margin: 10px;
      font-size: 2rem;

      @include tablet {
        font-size: 1.4rem;
        margin: 0;
        font-weight: 500;
        // padding: 10px 18px;
      }
      @include desktop {
        font-size: 1.6rem;
      }
    }

    &__link-in,
    &__link-up {
      display: block;
      color: $color-white;
      padding: 10px 15px;
    }

    @include tablet {
      &__link-in {
        color: $color-blue;
      }
      &__link-up {
        padding: 10px 20px;
      }
      &__loginBtn {
        border: none;
        background-color: $color-white;
      }
    }
  }

  .navigation--open {
    top: 0;
  }

  &__hamburger {
    position: absolute;
    right: 5%;
    top: 20%;
    height: 45px;
    width: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 6px;
    margin-bottom: 4px;
    z-index: 2;

    @include tablet {
      display: none;
    }
  }

  .hamburger__line {
    height: 3px;
    width: 26px;
    background: $color-blue;
    transition: all 0.2s ease-in-out;
    border-radius: 2px;
  }
  .hamburger__top {
    transform: none;
    transform-origin: left top;
    margin-bottom: 5px;
    transition: all 0.2s ease-in-out;
    &--open {
      transform: translateY(3px) rotate(45deg);
      background-color: #000;
    }
  }
  .hamburger__middle {
    opacity: 1;
    transform: none;
    transition: all 0.2s ease-in-out;
    &--open {
      opacity: 0;
      transform: translateX(-10px);
      background-color: #000;
    }
  }
  .hamburger__bottom {
    transform: none;
    transform-origin: left top;
    margin-top: 5px;
    transition: all 0.2s ease-in-out;
    &--open {
      transform: translateY(-3px) rotate(-45deg);
      background-color: #000;
    }
  }
}
