.menu {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  margin: 0 auto;
  display: flex;
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  border-bottom: 1px solid rgba(95, 96, 100, 0.2);

  @include tablet {
    padding: 1.5rem 1.8%;
    align-items: center;
  }
  @include desktop {
    padding: 1.5rem 4%;
  }

  &__logo {
    z-index: 2;
  }
  &__image {
    display: block;
    width: 70%;
    cursor: pointer;

    @include desktop {
      width: 100%;
    }
  }

  .navigation {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    top: -1300px;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 3;
    background-color: $color-blue;
    transition: all 0.25s ease-in-out;

    @include tablet {
      position: relative;
      flex-direction: row;
      top: 0;
      background-color: transparent;
      height: auto;
    }

    &__list {
      list-style: none;
      text-align: center;
      margin-bottom: 4rem;

      @include tablet {
        display: flex;
        margin-bottom: 0;
        flex-grow: 1;
        justify-content: center;
      }
    }

    &__item {
      display: block;
      font-size: 3rem;
      font-weight: 600;
      color: $color-white;
      padding: 1rem 0;
      cursor: pointer;

      @include tablet {
        color: $color-text;
        margin-top: 0.7rem;
        font-size: 1.4rem;
        font-weight: 500;
        padding: 0 0.8rem;
      }
      @include desktop {
        font-size: 1.6rem;
        padding: 0 1rem;
      }
    }

    &__item::after {
      @include tablet {
        content: "";
        display: block;
        margin-top: 0.5rem;
        width: 0;
        height: 2px;
        background-color: $color-dark-blue;
        transition: width 0.3s ease;
      }
    }

    &__item:hover::after {
      @include tablet {
        width: 100%;
        transition: width 0.3s ease;
      }
    }

    &__loginBtn,
    &__signUpBtn {
      border: 2px solid $color-white;
      border-radius: 2.5rem;
      background-color: $color-blue;
      margin: 1rem;
      font-size: 2rem;
      transition: all 0.2s ease;

      @include tablet {
        font-size: 1.4rem;
        margin: 0;
        border-color: $color-blue;
        font-weight: 500;
      }
      @include desktop {
        font-size: 1.6rem;
      }
    }

    &__signUpBtn:hover {
      @include tablet {
        background-color: $color-dark-blue;
        border-color: $color-dark-blue;
      }
    }

    &__login {
      text-align: center;

      @include tablet {
        display: flex;
        align-items: center;
      }

      .user {
        display: block;
        font-size: 2.6rem;
        font-weight: 600;
        @include tablet {
          font-size: 1.6rem;
          font-weight: 500;
          margin-right: 4%;
          color: $color-text;
        }
        @include desktop {
          margin-right: 2rem;
          font-size: 2rem;
        }
      }

      .logOut {
        display: block;
        color: $color-white;
        padding: 1rem 1.5rem;
      }
    }

    &__link-in,
    &__link-up {
      display: block;
      color: $color-white;
      padding: 1rem 1.5rem;
    }

    @include tablet {
      &__link-in {
        color: $color-blue;
      }
      &__link-up {
        padding: 1rem 2rem;
      }
      &__loginBtn {
        border: none;
        background-color: transparent;
      }
    }
  }

  .navigation--open {
    top: 0;
  }

  &__hamburger {
    position: absolute;
    right: 5%;
    top: 20%;
    height: 4.5rem;
    width: 4.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0.6rem;
    margin-bottom: 0.4rem;
    z-index: 4;

    @include tablet {
      display: none;
    }
  }

  .hamburger__line {
    height: 3px;
    width: 26px;
    background: $color-blue;
    transition: all 0.2s ease-in-out;
    border-radius: 2px;
  }
  .hamburger__top {
    transform: none;
    transform-origin: left top;
    margin-bottom: 5px;
    transition: all 0.2s ease-in-out;
    &--open {
      transform: translateY(3px) rotate(45deg);
      background-color: #000;
    }
  }
  .hamburger__middle {
    opacity: 1;
    transform: none;
    transition: all 0.2s ease-in-out;
    &--open {
      opacity: 0;
      transform: translateX(-10px);
      background-color: #000;
    }
  }
  .hamburger__bottom {
    transform: none;
    transform-origin: left top;
    margin-top: 5px;
    transition: all 0.2s ease-in-out;
    &--open {
      transform: translateY(-3px) rotate(-45deg);
      background-color: #000;
    }
  }
}

.menu--scroll {
  box-shadow: 60px 40px 80px 0 rgba(47, 51, 59, 0.1);
  border-bottom: 1px solid transparent;
  transition: all 0.3s ease-in-out 0s;
}
