.registerContainer {
  margin-top: 7rem;
  width: 100%;

  @media (min-width: 768px) and (min-height: 500px) {
    min-height: calc(100vh - 7rem);
    padding: 3rem 0;
    background-color: $color-bg-header;
  }

  &__backgroundContainer {
    display: none;
    position: relative;
    flex-basis: 100%;
    justify-content: space-between;

    @media (min-width: 768px) and (min-height: 500px) {
      display: flex;
    }
  }

  &__background--left,
  &__background--right {
    margin-top: -6rem;
    display: none;

    @media (min-width: 768px) and (min-height: 500px) {
      display: block;
      width: 40%;
    }

    @include desktop {
      width: 30%;
      max-width: 700px;
    }
  }

  .registerForm {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 5rem 6rem 3rem 6rem;
    background-color: rgba(255, 255, 255, 0.9);

    @media (min-width: 768px) and (min-height: 500px) {
      border-radius: 2.5rem;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &__header {
      width: 100%;
      font-size: 2.4rem;
      font-weight: 600;
      margin-bottom: 2.6rem;
      text-align: center;
      color: $color-text;

      @include desktop {
        font-size: 3.2rem;
      }
    }

    &__formContent {
      width: 100%;
      position: relative;
      height: 5rem;
      margin-bottom: 2rem;
      overflow: hidden;

      input {
        width: 100%;
        height: 100%;
        color: #595f6e;
        padding-top: 20px;
        border: none;
        outline: none;
        font-size: 16px;
        cursor: pointer;
      }

      .input-label {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        border-bottom: 1px solid $color-dark-blue;
      }

      .input-label::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -1px;
        height: 100%;
        width: 100%;
        border-bottom: 3px solid $color-blue;
        transform: translateX(-100%);
        transition: all 0.3s ease;
      }

      .content {
        position: absolute;
        bottom: 5px;
        left: 0;
        transition: all 0.3s ease;
        font-size: 1.6rem;
      }

      input:focus + .input-label .content,
      input:valid + .input-label .content {
        transform: translateY(-150%);
        font-size: 14px;
        color: $color-blue;
      }

      input:focus + .input-label::after {
        transform: translateX(0);
      }
    }

    &__submitBtn {
      display: block;
      border-radius: 3rem;
      padding: 1rem 4rem;
      background-color: $color-blue;
      color: $color-white;
      font-weight: 500;
      font-size: 2rem;
      margin: 5rem auto 3rem;
      cursor: pointer;
      transition: all 0.2s ease;
    }
    &__submitBtn:focus {
      outline: none;
    }

    &__submitBtn:hover {
      background-color: $color-blue-hover;
    }

    &__info {
      text-align: left;
      font-size: 1.8rem;
      font-weight: 600;
    }

    &__switchBtn {
      display: block;
      border: none;
      background: transparent;
      font-size: 1.6rem;
      font-weight: 600;

      .link {
        display: block;
        color: $color-blue;
        padding: 1rem 3rem 2rem 0;
      }

      .link:hover {
        color: $color-blue-hover;
      }
    }
    &__switchBtn:focus {
      outline: none;
    }
  }
}
