.registerContainer {
  position: relative;
  margin-top: 7rem;
  width: 100%;

  @include tablet {
    min-height: calc(100vh - 7rem);
    padding: 3rem 0;
    background-color: $color-bg-header;
  }

  // @include desktop {
  //   height: calc(100vh - 7.4rem);
  // }
  .registerForm {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 5rem 6rem 3rem 6rem;
    background-color: rgba(255, 255, 255, 0.9);

    @include tablet {
      border-radius: 2.5rem;
    }
    @include desktop {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &__header {
      width: 100%;
      font-size: 2.4rem;
      font-weight: 600;
      margin-bottom: 2.6rem;
      text-align: center;

      @include desktop {
        font-size: 3.2rem;
      }
    }

    &__formContent {
      width: 100%;
      position: relative;
      height: 5rem;
      margin-bottom: 2rem;
      overflow: hidden;

      input {
        width: 100%;
        height: 100%;
        color: #595f6e;
        padding-top: 20px;
        border: none;
        outline: none;
        font-size: 16px;
        cursor: pointer;
      }

      .input-label {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        border-bottom: 1px solid black;
      }

      .input-label::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -1px;
        height: 100%;
        width: 100%;
        border-bottom: 3px solid #5fa8d3;
        transform: translateX(-100%);
        transition: all 0.3s ease;
      }

      .content {
        position: absolute;
        bottom: 5px;
        left: 0;
        transition: all 0.3s ease;
        font-size: 1.6rem;
      }

      input:focus + .input-label .content,
      input:valid + .input-label .content {
        transform: translateY(-150%);
        font-size: 14px;
        color: #5fa8d3;
      }

      input:focus + .input-label::after {
        transform: translateX(0);
      }
    }

    // &__formContent {
    //   position: relative;
    //   width: 100%;
    //   margin: 6rem 0;
    //   text-align: left;
    //   overflow: hidden;

    //   label {
    //     display: block;
    //     width: 100%;
    //     font-size: 2rem;
    //     color: $color-dark-blue;
    //     font-weight: 500;
    //     margin-bottom: 1rem;
    //   }

    //   input {
    //     width: 100%;
    //     font-size: 2rem;
    //     border: none;
    //     border-bottom: 1px solid $color-dark-blue;
    //     outline: none;
    //     padding-bottom: 0.5rem;
    //   }

    //   span {
    //     position: absolute;
    //     bottom: 0;
    //     left: 0;
    //     transform: translateX(-100%);
    //     display: block;
    //     width: 100%;
    //     border-bottom: 2px solid $color-blue;
    //     transition: all 0.2s ease;
    //   }

    //   input:hover + span,
    //   input:focus + span {
    //     transform: translateX(0);
    //   }
    // }

    &__submitBtn {
      display: block;
      border-radius: 3rem;
      padding: 1rem 4rem;
      background-color: $color-blue;
      color: $color-white;
      font-weight: 500;
      font-size: 2rem;
      margin: 5rem auto 3rem;
      cursor: pointer;
    }
    &__submitBtn:focus {
      outline: none;
    }

    &__info {
      text-align: left;
      font-size: 1.8rem;
      font-weight: 600;
    }

    &__switchBtn {
      display: block;
      border: none;
      background: transparent;
      font-size: 1.6rem;
      font-weight: 600;

      .link {
        display: block;
        color: $color-blue;
        padding: 1rem 3rem 2rem 0;
      }
    }
    &__switchBtn:focus {
      outline: none;
    }
  }
}
