.summary {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  padding: 2rem 2rem;
  background-color: $color-dark-blue;
  color: $color-white;

  &__box {
    margin: 2rem 0;
    text-align: center;
    padding: 0 2rem;
  }

  &__numberContainer {
    display: flex;
    justify-content: center;

    img {
      display: block;
      width: 3rem;
    }
  }

  .diff {
    width: 0.9rem;
  }

  &__number {
    font-size: 5.9rem;
    font-weight: 300;
    padding-right: 1rem;
  }

  &__title {
    font-size: 2rem;

    padding: 1rem 0 1.6rem;
  }

  &__subtitle {
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 2.2rem;
  }
}
