.stepper {
  max-width: 1000px;
  margin: 10rem auto 0;
}

.stepper div div div div a,
.stepper div div div div span {
  line-height: 36px !important;
}

.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  &__formBtnContainer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
    margin: 0 auto;
  }

  &__prevBtn,
  &__nextBtn {
    background: #fff;
    padding: 1.2rem 3rem;
    font-size: 1.8rem;
    text-align: center;
    margin: 2rem;
    border: 1px solid #d0dcf0;
  }
}
