.step-3 {
  display: inline-block;
  max-width: 600px;
  margin: 5rem auto 3rem;
  padding: 0 2.4rem;

  &__inputContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .holder {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: flex-start;
      padding-left: 1rem;

      span {
        width: 100%;
        margin-top: 1rem;
      }
    }
    label {
      font-size: 1.6rem;
      margin-right: 1rem;
      @include tablet {
        font-size: 1.8rem;
      }
    }

    select {
      font-size: 1.6rem;
      padding: 0.5rem 1rem;
    }
  }

  &__selectContainer {
    display: flex;
    flex-wrap: wrap;

    &__whoHelp {
      width: 100%;
      padding-left: 1rem;
      margin: 3rem 0 1rem;
      font-size: 1.8rem;
    }

    &__checkbox:not(:checked),
    &__checkbox:checked {
      position: absolute;
      left: -9999%;
    }

    &__checkbox + label {
      display: inline-block;
      padding: 1rem;
      cursor: pointer;
      border: 2px solid $color-blue;
      border-radius: 20px;
      color: $color-dark-blue;
      background-color: white;
      margin: 1rem;
      transition: all 0.15s ease-in-out;
    }

    &__checkbox:checked + label {
      background-color: $color-blue;
      color: $color-white;
    }

    &__organization {
      width: 100%;
      padding: 1rem 0.5rem;
      font-size: 1.6rem;
      margin-left: 1rem;
    }

    &__option {
      width: 100%;
      position: relative;
      height: 5rem;
      margin-top: 1rem;
      margin-bottom: 2rem;
      overflow: hidden;

      input {
        width: 100%;
        height: 100%;
        color: #595f6e;
        padding-top: 20px;
        border: none;
        outline: none;
        font-size: 16px;
        cursor: pointer;
      }

      .input-label {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        border-bottom: 1px solid $color-dark-blue;
      }

      .input-label::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -1px;
        height: 100%;
        width: 100%;
        border-bottom: 3px solid $color-blue;
        transform: translateX(-101%);
        transition: all 0.3s ease;
      }

      #content {
        position: absolute;
        bottom: 5px;
        left: 0;
        transition: all 0.3s ease;
        font-size: 1.6rem;
        line-height: 1.6rem !important;
      }

      input:focus + .input-label .content,
      input:not(:placeholder-shown) + .input-label .content {
        transform: translateY(-150%);
        font-size: 14px;
        color: $color-blue;
      }

      input:focus + .input-label::after {
        transform: translateX(0);
      }
    }
  }
}
