.success {
  margin-top: 10%;
  padding: 0 2.4rem;
  max-width: 1000px;

  @media (max-height: 640px) {
    margin-top: 0;
    padding: 0 5rem;
  }

  &__header {
    font-size: 4rem;
  }

  &__info {
    font-size: 2.6rem;
    margin-top: 20%;
    text-align: center;
    padding: 0 10rem;

    @media (max-height: 640px) {
      margin-top: 0;
      padding: 0 5rem;
    }

    @include tablet {
      margin-top: 10%;
    }

    @include desktop {
      font-size: 3rem;
    }
  }
}
